<form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <label>Email отримувача:</label>
    <input type="email" formControlName="to">
    
    <label>Тема:</label>
    <input type="text" formControlName="subject">
    
    <label>Повідомлення:</label>
    <textarea formControlName="message"></textarea>
  
    <label>Додати вкладення:</label>
    <input type="file" (change)="handleFileInput($event)">
  
    <button type="submit" [disabled]="emailForm.invalid">Відправити</button>
  </form>
  
  <p *ngIf="status">{{ status }}</p>
  