<form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <label>Email отримувача:</label>
    <input type="email" formControlName="to" required>
  
    <label>Тема:</label>
    <input type="text" formControlName="subject" required>
  
    <label>Повідомлення:</label>
    <textarea formControlName="message"></textarea>
  
    <label>Вкладення:</label>
    <input type="file" (change)="handleFileInput($event)">
  
    <button type="submit" [disabled]="emailForm.invalid">Відправити</button>
  </form>
  